/* .a{color: red;
border: 10px solid yellow;}
.b{color: blue;}
.c{color: royalblue;text-align: center;}
.a{background-color: seagreen;} */
.e{color: rgba(37, 155, 86, 0.555);
border: 1px solid #000;
text-align: center;}

